@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Libre+Franklin&family=Montserrat&family=Poppins&family=Roboto&family=Source+Sans+Pro:wght@600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.limit{
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.05);
    height: 91px;
    width: 100%;
    gap: 626px;
    .box2{
        margin-left: -40px;
        a{
            text-decoration: none;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 22px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #6C6C6C;
            margin-left: 40px;
            transition: .4s ease;
        }
        a:hover{
            color: #fff;
            background: crimson;
            padding: 4px;
            font-size: 14px;
            border-radius: 5px;
        }
        a:active{
            color: crimson;
        }
        a img:nth-child(1){
            margin-right: 27px;
        }
    }
}

.lim{
    background: url(/images/image.png) no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 708px;
    position: relative;
    .box{
        h4{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 24px;
            color: #D77474;
        }
        h1{
            font-family: 'Poppins';
            font-weight: 700;
            font-size: 48px;
            line-height: 58px;       
            width: 428px;     
        }
        img{
            position: absolute;
            top: 250px;
            left: 450px;
        }
        p{
            font-family: 'Libre Franklin';
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #6C6C6C;           
        }
        button{
            font-family: 'Poppins';
            font-weight: 700;
            font-size: 12px;
            line-height: 22px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #FFFFFF;
            background: #AC1313;
            padding: 19px 31px 21px 40px;
            border: none;
        }
    }
}

.lim2{
    box-sizing: border-box;
    height: 969px;
    .box{
        margin-top: 120px;
        h4{
            font-family: 'Poppins';
            font-weight: 700;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #D77474;
        }
        h1{
            font-family: 'Poppins';
            font-weight: 700;
            font-size: 40px;
            line-height: 50px;    
            margin-top: 50px;   
            img{
                margin-top: -50px;
            }     
        }
    }
    .box2{
        margin-top: 63px;
        gap: 150px;
    }
    .box3{
        margin-top: 90px;
        gap: 142px;
        box-sizing: border-box;
        .b3-page1{
            h1{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 29px;
                line-height: 36px;
                width: 279px;               
            }
            p{
                font-family: 'Libre Franklin';
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                color: #6C6C6C;
                width: 501px;
            }
        }
        .b3-page2{
            h1{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 29px;
                line-height: 36px;
                width: 323px;  
            }
            p{
                font-family: 'Libre Franklin';
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                color: #6C6C6C;
                width: 501px;
            }                
            }    
    }
}

.lim3{
    position: relative;
    height: 1032px;
    .box{
        box-sizing: border-box;
        gap: 86px;
        div{
            h1{
                font-family: 'Poppins';
                font-weight: 700;
                font-size: 24px;
                line-height: 34px;       
            }
            p{
                font-family: 'Libre Franklin';
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                color: #6C6C6C;  
                width: 388px;     
            }
            h3{
                font-family: 'Poppins';
                font-weight: 700;
                font-size: 14px;
                line-height: 24px;        
            }
        }
    }
    .box2{
        box-sizing: border-box;
        gap: 86px;
        div{
            h1{
                font-family: 'Poppins';
                font-weight: 700;
                font-size: 24px;
                line-height: 34px;       
            }
            p{
                font-family: 'Libre Franklin';
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                color: #6C6C6C;  
                width: 388px;     
            }
            h3{
                font-family: 'Poppins';
                font-weight: 700;
                font-size: 14px;
                line-height: 24px;        
            }
        }
    }
    hr{
        position: absolute;
        width: 100%;
        bottom: 0;
    }
}

.lim4{
    height: 1597px;
    box-sizing: border-box;
    .box{
        margin-top: 120px;
        box-sizing: border-box;
        h4{
            font-family: 'Poppins';
            font-weight: 700;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #D77474;
        }
        h1{
            font-family: 'Poppins';
            font-weight: 700;
            font-size: 40px;
            line-height: 50px;
        }
        button{
            font-family: 'Poppins';
            font-weight: 700;
            font-size: 12px;
            line-height: 22px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #FFFFFF;   
            background: #AC1313;
            padding: 20px 26px 20px 40px;
            border: none;
        }
    }
    .box2{
        gap: 20px;
        margin-top: 63px;
    }
}

.lim5{
    background: url(/images/IMAGE\ \(2\).png) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    box-sizing: border-box;
    height: 471px;
    position: relative;
    .box{
        position: absolute;
        top: 121px;
        left: 144px;
        h4{
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #D77474;        
        }
        h1{
            font-family: 'Poppins';
            font-weight: 700;
            font-size: 36px;
            line-height: 46px;        
        }
        p{
            font-family: 'Libre Franklin';
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            color: #6C6C6C;   
            width: 421px;   
            a{
                color: #AC1313;
            }  
        }
        button{
            font-family: 'Poppins';
            font-weight: 700;
            font-size: 12px;
            line-height: 22px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #FFFFFF;   
            background: #AC1313;
            padding: 20px 26px 20px 40px;
            border: none;       
        }
    }
}

.lim6{
    height: 685px;
    .box{
        margin-top: 121px;
        h4{
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #D77474;
            margin-top: 40px;       
        }
        h1{
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 40px;
            line-height: 50px; 
            margin-top: 30px; 
            img{
                margin-top: -50px;
            }
        }
        form{
            margin-top: 63px;
            input{
                padding: 13px 40px 12px 10px;
                min-width: 340px;
                outline: none;
            }
            button{
                font-family: sans-serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #FFFFFF;   
                background: #000000;
                padding: 17px 9px 15px 9px; 
                border: none;
            }
        }
        img{
            margin-top: 40px; 
            cursor: pointer;
        }
    }
}

.lim7{
    background: rgba(219, 219, 219, 0.1); 
    height: 611px;
    width: 100%;
    margin: 0;
    .box{
        img{
            margin-top: 107px;
        }
        p{
            font-family: 'Libre Franklin';
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #6C6C6C;
        }
    }
    .box2{
        margin-top: 70px;
        .page{
            h4{
                font-family: 'Poppins';
                font-weight: 400;
                font-size: 13px;
                line-height: 23px;
                letter-spacing: 1px;
                text-transform: uppercase;   
                margin: 10px 0 20px 0;   
            }
            p{
                font-family: 'Libre Franklin';
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                text-align: center;
                color: #6C6C6C;
                width: 167px;
            }
        }
    }
    .box4{
        margin-top: 90px;
    }
    .box3{
        font-family: 'Libre Franklin';
        font-weight: 400;
        line-height: 22px;    
        margin-top: 33px;   
    }
}

@media (max-width: 447px) {
    section{
        width: 100%;
        header{
            .box2{
                display: none;
            }
        }
    }
    .lim{
        padding: 10px;
        .box{
            img{
                display: none;
            }
            h1{
                font-size: 30px;
                width: 440px;
            }
        }
        .box2{
            img{
                width: 100%;
            }
        }
    }
    .lim2{
        flex-direction: column;
        box-sizing: border-box;
        .box2{
            gap: 20px;
        }
        .box3{
            gap: 20px;
            margin: 10px;
            .b3-page1{
                p{
                    width: 440px;
                }
            }
            .b3-page2{
                p{
                    width: 440px;
                }
            }
        }
    }
    .lim3{
        flex-direction: column;
        box-sizing: border-box;
        .box{
            margin-top: 500px;
            gap: 20px;
            box-sizing: border-box;
            div{
                img{
                    width: 440px;
                }
            }
        }
        .box2{
            gap: 20px;
            box-sizing: border-box;
                img{
                    width: 440px;
                }
        }
        hr{
            position: absolute;
            top: -50px;
        }
    }
    .lim4{
        flex-direction: column;
        box-sizing: border-box;
        margin-top: 200px;
        .box2{
            margin: 10px;
        }
        .box{
            width: 400px;
        }
    }
    .lim5{
        flex-direction: column;
        box-sizing: border-box;
        margin-top: 2300px;
        .box{
            left: 10px;
        }
    }
    .lim6{
        width: 440px;
    }
    .lim7{
        min-height: 750px;
        .box3{
            width: 445px;
        }
    }
}
@media (min-width: 448px) and (max-width: 769px) {
    section{
        width: 100%;
        header{
            .box2{
                display: none;
            }
        }
    }
    .lim{
        padding: 20px;
        .box{
            img{
                display: none;
            }
            h1{
                font-size: 30px;
            }
        }
        .box2{
            img{
                width: 100%;
            }
        }
    }
    .lim2{
        flex-direction: column;
        box-sizing: border-box;
        .box2{
            gap: 10px;
        }
        .box3{
            gap: 20px;
            margin: 10px;
            }
    }
    .lim3{
        flex-direction: column;
        box-sizing: border-box;
        .box{
            gap: 40px;
            box-sizing: border-box;
        }
        .box2{
            gap: 20px;
            box-sizing: border-box;
        }
        hr{
            position: absolute;
            top: -50px;
        }
    }
    .lim4{
        flex-direction: column;
        box-sizing: border-box;
        margin-top: 350px;
        .box2{
            margin: 10px;
        }
    }
    .lim5{
        flex-direction: column;
        box-sizing: border-box;
        margin-top: 2300px;
    }
    .lim7{
        margin-top: -100px;
    }   
}
@media (min-width: 770px) and (max-width: 990px) {
    section{
        width: 100%;
        header{
            .box2{
                display: none;
            }
        }
    }
    .lim{
        padding: 20px;
        .box{
            img{
                display: none;
            }
        }
        .box2{
            img{
                width: 100%;
            }
        }
    }
    .lim2{
        flex-direction: column;
        box-sizing: border-box;
        .box2{
            gap: 50px;
        }
        .box3{
            gap: 20px;
            }
    }
    .lim3{
        flex-direction: column;
        box-sizing: border-box;
        .box{
            gap: 10px;
            box-sizing: border-box;
        }
        .box2{
            gap: 10px;
            box-sizing: border-box;
        }
        hr{
            position: absolute;
        }
    }
    .lim4{
        flex-direction: column;
        box-sizing: border-box;
        .box2{
            margin-top: 40px;
            box-sizing: border-box;
        }
    }
    .lim5{
        flex-direction: column;
        box-sizing: border-box;
        margin-top: 600px;
    }
    .lim7{
        margin-top: -150px;
    }   
}
@media (min-width: 991px) and (max-width: 1200px) {
    section{
        width: 100%;
        header{
            .box2{
                display: none;
            }
        }
    }
    .lim7{
        margin-top: -150px;

    }
}